/*
	Stylesheet for tab
*/

 
 .rt-panel-style{
	width: 100%;
	background-color: Beige	
 }
 
 .rt-tabPanel{
 	float: left;
 	background-color: aqua;
 	width: 49%;
 	
 }
  

 .rt-tabPanel-1{
 	margin-left: 50%;
 	
 }

 .rt-blank{
 	width: 10px;
 	clear: both;
 }
 
